In [53]:
from cytoolz     import take
from firebird    import ARD
from firebird    import grids
from firebird    import pyccd
from firebird    import timeseries
from importlib   import reload
from pyspark.sql import SparkSession

import firebird
import pyspark

In [ ]:
ss = SparkSession(pyspark.SparkContext())

In [54]:
x = -2094585 
y = 1952805

tile = grids.tile(x=x, y=y, cfg=ARD)

chips = take(1, tile.get('chips'))

ids = timeseries.ids(ctx=ss.sparkContext,
                     chips=chips)

#ard = timeseries.ard(ctx=ss.sparkContext, 
#                     acquired='1980-01-01/2017-01-01', 
#                     ids=ids)

ard = timeseries.execute(ctx=ss.sparkContext, ids=ids, acquired='1980-01-01/2017-01-01', cfg=firebird.ARD, name='ard')

In [90]:
reload(pyccd)

In [91]:
rdd = pyccd.execute(ctx=ss.sparkContext, timeseries=ard)

In [93]:
rdd.take(1)

[(-2115585,
  1964805,
  -2114145,
  1964715,
  {'algorithm': 'lcmap-pyccd:2018.03.12',
   'change_models': [],
   'cloud_prob': 0.0,
   'processing_mask': [0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0],
   'snow_prob': 0.0,
   'water_prob': 0.0})]

In [71]:
d = {'x': 1, 'y': 2, 'z': [{'a': 'a1', 'b': 'b1'},{'a': 'a2', 'b': 'b2'}]}

TypeError: string indices must be integers

In [81]:
[{'x': d['x'], 'y': d['y'], 'a': dd['a']} for dd in d['z']]

[{'a': 'a1', 'x': 1, 'y': 2}, {'a': 'a2', 'x': 1, 'y': 2}]

In [83]:
from merlin.functions import flatten

In [86]:
list(flatten([[1, 2, 3], [4, 5, 6]]))

[1, 2, 3, 4, 5, 6]

In [96]:
rdd2 = ss.sparkContext.parallelize(range(10))

In [97]:
rdd2.map(lambda x: x * 2).collect()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [98]:
rdd2.flatMap(lambda x: [range(x), range(x * 2)]).collect()

[range(0, 0),
 range(0, 0),
 range(0, 1),
 range(0, 2),
 range(0, 2),
 range(0, 4),
 range(0, 3),
 range(0, 6),
 range(0, 4),
 range(0, 8),
 range(0, 5),
 range(0, 10),
 range(0, 6),
 range(0, 12),
 range(0, 7),
 range(0, 14),
 range(0, 8),
 range(0, 16),
 range(0, 9),
 range(0, 18)]

In [106]:
from cytoolz import assoc
from cytoolz import assoc_in
from cytoolz import get
from cytoolz import get_in
from cytoolz import merge

In [116]:
def default(ccdresult):
    return [{'sday': 0, 'eday': 0}] if not ccdresult else ccdresult

In [119]:
default(get('change_models', {}, None))

[{'eday': 0, 'sday': 0}]

In [120]:
help(ss.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of :class:`Row`,
    or :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
    each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation(e.g. row, tuple, int, boolean,
        etc.), or :class:`list`, or :class:`pandas.DataFrame`.
    :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is ``None``.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`. We can also use
        ``int`` as a short name for ``IntegerType``.
    :param samplingRatio: the sample ratio of rows used for inferring
    :param verifySchema: verify data types of every row against schema.
    :return: :class:`DataFrame`

    .. versionchanged:: 2.1
       Added verifySchema.

    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 2.0

In [125]:
import numpy as np

In [149]:
N = np.int_([1, 2, 3, 4])

In [152]:
N.reshape([2, 2]).tolist()

[[1, 2], [3, 4]]

In [153]:
dict(a=1)

{'a': 1}

In [ ]:
pyspark.sql.types.